.p-4.mb-3.bg-light.rounded
    h4.fst-italic About
    p.mb-0
        | Hey there! I'm Esther Afolabi, Frontend web developer and tech is my jam. From building cool projects to learning new stuff, it keeps my mind buzzing. My journey in tech is fueled by a desire to make a positive difference. I envision leveraging my skills to create impactful solutions. I'm constantly seeking opportunities to expand my knowledge, collaborate with talented individuals, and bridge the gap between complex technology and relatable solutions. This blog is my platform to share that journey with you. Here, you'll find insights into the tech world, breakdowns of my projects, and explorations of the latest trends. I'll also strive to offer practical tips and valuable resources to help you navigate the ever-evolving tech landscape.  So, stay tuned, and let's explore the awesome world of tech together!

