.p-4
    h4.fst-italic Social Links
    ol.list-unstyled
        li.mb-1
            a(href='https://github.com/Hestia-Arc' target="_blank") GitHub
        li.mb-1
            a(href='https://twitter.com/arc_hestia00' target="_blank") Twitter
        li.mb-1
            a(href='https://www.linkedin.com/in/hestiaarc00' target="_blank") LinkedIn